[HTTP Message] What should Request::getUrl() return when no Host header is present?

This is the current documentation for `Request::getUrl()`:

    /**
     * Gets the absolute request URL.
     *
     * @return string Returns the URL as a string.
     */
    public function getUrl();

The problem is, to construct a full URL we need the contents of the `Host` header, which although mandatory in HTTP 1.1, is optional in HTTP 1.0.

So the implementer is left in the dark about what to do when no `Host` is present, such as when parsing the following valid request:

    GET /resource HTTP/1.0

I can see a few options:

- Throw an exception
- Return an invalid URL with no host: `http:///resource`
- Return a valid URL with a default host: `http://localhost/resource`

I have no personal preference, but I think it's important to document what to do in that case!

This was addressed with #384. However, discussion was re-opened on the mailing list, and I'm planning to re-structure how this is handled.

Basically, [RFC 7230 section 5.3](https://tools.ietf.org/html/rfc7230#section-5.3) is not helping our situation here: it allows just the path + query string, OR an absolute URI. For consumers of the message objects, this is a problem: you don't know what you'll get.

For the server side of the equation, CGI, and by extension, PHP, passes the path + query string as `REQUEST_URI`, and if you want the scheme, host, or port, you need to inspect the environment (`SERVER_NAME` may or may not be useful; `HTTP_HOST` is typically what was requested, but can be spoofed; etc.). What I've seen in WSGI, Rack, and Node is that the url the request stores is typically the path + query string, and they leave the rest to the environment. I think we can improve on that; @crell suggested adding more getters for this, and I think we could get by with:

- `setBaseUrl($schemeAuthHostAndPort)`
- `getBaseUrl()`

This would allow implementors to abstract the logic necessary for getting at that information (scheme and host, in particular, can be tricky), providing a consistent interface for end-users. If an absolute URI is needed, it can be constructed by concatenation: `getBaseUrl() . getUrl()`.

I think this abstraction would also work well for clients. My experience with HTTP clients is that one will often set the scheme/host/port early, and then alter the path as subsequent requests are made (which would work perfectly with the above), or else provide an absolute URI once. For the latter approach, implementors could provide a convenience method for specifying the absolute URI, or overload the logic in `setUrl()` to have it detect non-path/non-query parts and use them to set the base URL.

As I work on a new draft of the interfaces, I'll reference this issue.

I might be confused on the exact `URL` / `URI` terminology, but I thought that by definition, a URL must include a scheme (making a "relative URL" actually a UR**I**).

I might be wrong, but in any case, I see your proposal of `getUrl()` basically returning `REQUEST_URI` only as very confusing for consumers of the API.

For what it's worth, I would personally stick with one of the 3 proposals I've made above; the most sensible one is probably to throw an exception if no `Host` header was present in the request. That's only allowed in HTTP/1.0 anyway, and is really marginal today, as I have yet to see a single HTTP client not sending the `Host` header. So getting an exception in this very specific case is fine to me.

@BenMorel Please read [RFC 7230, Section 5.3](https://tools.ietf.org/html/rfc7230#section-5.3) closely. The spec allows for any of 4 different target forms, with the first, and most predominant, being the origin-form -- path + query string (in fact, if you look at actual network traffic, you'll rarely see the fully qualified URI in HTTP messages; scheme, host, and port are usually specified only when making the TCP connection). Additionally, as I've already noted, the CGI specification has `REQUEST_URI` as this same value -- and every other standard HTTP implementation -- WSGI, Rack, Node, etc. -- uses the same approach. Considering the popularity and adoption of those implementations, I see no reason not to adopt the same approach here.

The addition of a base URL property for holding the scheme + auth + host + port information provides an abstraction for getting at the other URL parts when needed. Considering the variety of sources required for getting at the scheme, host, and port, I consider this a necessary abstraction, and, as noted, will include it in a later commit.

Regarding your comment about the `Host` header: [that header can be easily spoofed](https://www.google.com/search?q=spoof+host+header). I'd not rely on it in the way you suggest _ever_.

@weierophinney Your link is about HTTP's *Request Target*, that can indeed takes these forms. I'm talking about the term *URL* in `getUrl()`, which to me implies **a full URL including scheme and host**.

What you're suggesting to return in `getUrl()` should IMHO be called something along the lines of `getRequestUri()`, or rightly so, `getRequestTarget()`.

Regarding the spoofable `Host` header, I don't get your point: *anything* in the request is spoofable, either by the client itself, or by a man-in-the-middle attack; not only the `Host` header, but also the URI, and everything else. A request could be entirely forged, but still, if it's a valid request and it reaches your application, you should have **non-opinionated getters** to access its contents.

Allow me to take an example.

You're "spoofing" a request to my server normally listening on `ben.com`, IP `a.b.c.d`, by requesting a document on `google.com`:

    curl --resolve www.google.com:80:a.b.c.d http://www.google.com/

*Yes*, my server will receive the following request, even though `google.com` does not map to my IP:

    GET / HTTP/1.0
    Host: www.google.com

*But* if my web server configuration allows any domain name to reach my application, **I still want `getUrl()` to return `http://www.google.com/`**!

This is really important: even though the client requested `http://www.google.com/` on the wrong IP, **it is still a request for `http://www.google.com/`**. Sent to the wrong server. So `getUrl()` should return `http://www.google.com/`.

As a developer, it's my responsibility to either configure my web server to only accept a list of well-known domain names to reach my application (and return a `404` for all other hosts), or to handle the domain logic in my application. 

I frequently build applications that listen on several domain names, and it's very common to act upon the domain name in the application itself, for example when dealing with multilingual / regional websites where every locale has a different domain name.

In any case, if I want the URL of the current page for any reason, **I want it to contain the host that was part of the request**. Whether or not the requested host maps to my IP address is another matter, and should not have any influence on the accessors, that should stay unopinionated.

If I just want the Request Target, I can use another method.

Does that make sense?

@BenMorel Just to clarify: You'd prefer:

- `getRequestUri()`
- `getBaseUri()`

?

I still intend to split path+query and everything else -- but would these two methods satisfy you in terms of naming?

@weierophinney Just to be on the same wavelength, do we plan to support HTTP Request Targets other than the first form, `origin-form` (path + query)? I note that webservers, when using things such as `CONNECT` or a full URL as request target, typically have a default behaviour that does not even pass the request to the PHP interpreter, although it's probably possible to configure them to do so.

I think that the choice of the getters and their behaviour will ensue from this decision!

@BenMorel No - `getRequestUri` (currently `getUrl`) would only ever return origin-form; this is to ensure a consistent return value. `getBaseUrl` would return any other URL segments (other than fragment, obviously), and thus provide support for the other the target types (via composition with `getRequestUri`).

*Note: after a bit of testing with PHP's built-in web server and some exotic requests, I've noticed that PHP always populates `$_SERVER['REQUEST_URI']` with the Request Target, whatever the form. I think it deserves to be mentioned, as me might use the term Request URI for another purpose.*

@weierophinney What about providing these accessors:

- The original, unprocessed Request Target : `getRequestTarget()` ?
- The request URI (path + query) : `getRequestUri()` ?
- The base URI (scheme, auth, host, port) : `getBaseUri()` ?
- The full URL (scheme, auth, host, port, path, query) : `getUrl()` ?

We need to carefully define what each of them would return for every use case though, which is the original intent of this issue.

I would suggest:

1. origin-form with Host: `GET /path?query HTTP/1.0` `Host: www.example.com`
 - Original Request Target: `/path?query`
 - Request URI : `/path?query`
 - Base URI : `http://www.example.com`
 - URL : `http://www.example.com/path?query`

2. origin-form without Host: `GET /path?query HTTP/1.0`
 - Original Request Target: `/path?query`
 - Request URI: `/path?query`
 - Base URI : *exception*
 - URL : *exception*

3. absolute-form: `GET http://www.example.com/path?query HTTP/1.1`
 - Original Request Target: `http://www.example.com/path?query`
 - Request URI: `/path?query`
 - Base URI: `http://www.example.com`
 - URL: `http://www.example.com/path?query`

 *Note that we would ignore the `Host` header in this form.*

4. authority-form: `CONNECT www.example.com:80 HTTP/1.1`
 - Original Request Target: `www.example.com:80`
 - Request URI: *exception*
 - Base URI: *exception*
 - URL: *exception*

 *Note sure why we would support this one, but still including it for completeness.*

5. asterisk-form: `OPTIONS * HTTP/1.1`
 - Original Request Target: `*`
 - Request URI: *exception*
 - Base URI: *exception*
 - URL: *exception*

What do you think?

Just talking about URI vs URL... one term should be used, not both. It's a misconception that the URL is the absolute form of a URI. The term URL is simply deprecated now, and the only correct term (and the term that's used in the HTTP specification) is URI.

@weierophinney's argument was to use URL throughout, because people are more familiar with that term. While I don't 100% agree... I prefer the 'current' term, it's important to be consistent.

@evert I never heard about URL being deprecated until today, and I indeed found [RFC 3305](https://www.ietf.org/rfc/rfc3305.txt) backing this.

I agree it would then make sense to rename `getUrl()` to `getUri()`, however I'm afraid that this can bring confusion with what PHP calls `REQUEST_URI`, i.e. typically the path + query part starting with `/`.

And that leads me to another question: reading RFC 3305, it seems that any URI *must* start with a scheme and colon. That would mean that what PHP calls the REQUEST_URI is not, technically, a URI at all?

@BenMorel. The current spec is [https://tools.ietf.org/html/rfc3986](rfc3986), which has all the rules around creating and interpreting relative urls:

https://tools.ietf.org/html/rfc3986#section-4.2

What about these methods then:

Method name | Return value | Examples
--- | --- | ---
 `getRequestTarget()` | The raw request target, i.e. the part following the HTTP verb | `/path?query`, `http://host/path`, `*`
`getRelativeUri()` | path, query | `/path?query`
`getBaseUri()` | scheme, auth, host, port | `http://www.example.com`
`getAbsoluteUri()` | scheme, auth, host, port, path, query | `http://www.example.com/path?query`

At least we make it explicit what each method returns in its name, vs. using a generic `getUri()` that could pretty much mean anything.

The only drawback I see with this approach is that "base URI" and "relative URI" are terms that are  slightly too open: for example `http://www.example.com/path/` could be a base URI as well, and `subpath` a relative URI. But I think we could live with that?

I'm starting to lean towards @crell 's idea that we need getters for each URI aspect:

- `getPath`
- `getQueryString`
- `getHost`
- `getPort`
- `getScheme`
- `getUriUser`
- `getUriPassword`

and I *hate* the idea. If we're going to go that route, we might as well define a URI object. I'm not opposed to that (I did it for phly/http) -- except that I worry that we'd be once again potentially bleeding into "this is territory for a new proposal" arguments. That said, I'd have the same arguments as I have for the `StreamableInterface`: we've decided it's necessary to have the separation in order to cleanly define the message interfaces and responsibilities.

@evert and @crell -- thoughts?

Actually, going to ping @pmjones and @simensen on this one as well, as I'm curious what their feedback would be as sponsors.

I'm actually still on the original camp.

1. Just provide getUri() (or getUrl())
2. Can return an absolute or a relative url.

The server request would *always* just have the relative url for me, and the client *always* an absolute url.

My (server) implementation does have these:

1. setBaseUri()
2. getBaseUri()
3. getPath()

But, they don't work as you described. I decided that it's extremely useful for a PHP application to know what the actual root of any given PHP is application, and specifically what the 'remainder' of the path is.

Some examples:

| REQUEST_URI | setBaseUri(...) | Result of getPath() |
| ------------------ | ---- | ---- |
| /~evert/application.php/controller/method | /~evert/application.php/ | controller/method |
| /contact | / | contact |
| /path/to/app/foo/bar | /path/to/app | foo/bar |

Note that the baseUri is not relevant to the absolute url for me though. It's just a feature that relates to where the PHP application 'starts' in the REQUEST_URI hierarchy, which I think most applications need.

I kept this idea out of the discussions though, because I didn't' want to pollute a good spec with fancy features.

I hope we can go back to simplicity. All the getters @weierophinney mentions are an unneeded abstraction. You just need a good URI library that can handle resolving relative paths. I [just copied nodejs](https://github.com/fruux/sabre-uri/blob/master/lib/functions.php#L44), as this is another area they do pretty well.

A string is a perfectly sane container for uris.













在2015年01月06 07时12分，"weierophinney"<notifications@github.com>写道：



I'm starting to lean towards @crell 's idea that we need getters for each URI aspect:

getPath
getQueryString
getHost
getPort
getScheme
getUriUser
getUriPassword

and I hate the idea. If we're going to go that route, we might as well define a URI object. I'm not opposed to that (I did it for phly/http) -- except that I worry that we'd be once again potentially bleeding into "this is territory for a new proposal" arguments. That said, I'd have the same arguments as I have for the StreamableInterface: we've decided it's necessary to have the separation in order to cleanly define the message interfaces and responsibilities.

@evert and @crell -- thoughts?

—
Reply to this email directly or view it on GitHub.

There is some simplicity in just providing the methods (getPath, getQueryString, getHost, and so on) but it does seem like it is wandering into unsafe territory.

Also, I feel like it is important to be able to access the where the PHP application 'starts' in the REQUEST_URI from the server-side. Similarly, I know many client applications allow you to specify a base URI for all requests to be built from ( http://api.example.com:8080/v1 -> '/users' -> http://api.example.com:8080/v1/users ).

On the server side, this can probably all be handled by an external library provided we have access to $_SERVER from the message (which we currently do).

On the client side, we would be creating the URI upfront and injecting it (most likely) so I'm not sure it matters if we know what the "base URI" was for an outgoing request. On the other hand, if you want to write an extension that looks at an outgoing request to act on anything going to "/users/*" it might be useful to know which segment to start looking at. ( say you want to match /api/users but not /api/company/users... you'd want to root the search against anything after /api... which the plugin might not know about... )

I'm :+1:/:-1: on adding the methods. They could be really nice as people could interact more easily w/ HTTP messages without third-party libraries but it could also end up painting us into a corner or opening a can of worms that stalls out this PSR.

I'm :+1: on trying to find a working solution for providing some concept of a base URL at least on the server side, if not also the client side. However, I'm happy to walk away from this one if it turns out to be too much trouble.

> On the server side, this can probably all be handled by an external library provided we have access to $_SERVER from the message (which we currently do).

By the way, I would strongly suggest that reliance on `$_SERVER` stays an implementation detail as opposed to having any method explicitly exposing it: PHP mixes in this variable a few parts of the request: `HTTP_*`, `SERVER_PROTOCOL`, `REQUEST_METHOD`, etc. with stuff that does not come from the request: `DOCUMENT_ROOT`, `SCRIPT_FILENAME`, `GATEWAY_INTERFACE` etc.

The latter are not extracted from the HTTP request, so should not be exposed in the Request API.

> [...] I would strongly suggest that reliance on $_SERVER stays an implementation detail as opposed to having any method explicitly exposing it [...]

I believe we are currently exposing it. I do not know what impact it would have to remove this so I am unsure how I would feel about it.

Automatically discovering the base URI requires access to $_SERVER, though, I think? If the message does not expose $_SERVER and we need to divine the base URI, that might be a good reason to have the interface expose this and require implementors to do this job for the users.

@simensen That's exactly why I was suggesting to expose methods returning the base URI. It would be the job of the implementors to do the dirty job of mapping `$_SERVER` to consistent and useful data with properly named accessors!

Strongly disagree on removing `$_SERVER`. Don't ignore the real world :) There's a lot of useful information in there that it absolutely request-specific. The data in $_SERVER is a standard in itself. You may not think it's pretty, but it's standard.

@simensen I don't think you can reliably guess the base url when mod_rewrite is in use. This needs to be something that's supplied by the user at least in some cases.

@BenMorel - `$_SERVER` represents the parameters provided by the Server API (SAPI), which reflect the Common Gateway Interface (CGI) standard. They _are_ part of the request, and if you look at request implementations in other languages (such as Rack and WSGI), you'll see the same information present. They values **MUST** be present -- as @simensen notes, all of the data used to construct things like the URL comes from `$_SERVER`, which allows us to later re-construct that information if desired (e.g., to return a request to its original state).

@evert I live and work in the real world :) and only ever use a [Request implementation](https://github.com/brick/http/blob/master/src/Request.php) that I wrote whose API does not provide a single variable that does not come from the incoming HTTP request. IMHO, if you need something such as `DOCUMENT_ROOT` or `SCRIPT_FILENAME` then you might be doing it wrong. And if you do need this kind of information, it would belong to another object.

I think it would be a strong mistake to lean towards a standard Request interface that would expose anything but the data that comes from the HTTP **request**.

@weierophinney I share your worries about cluttering the API with methods that would actually belong to a URI object, and would personally not be against introducing a URI interface as well. This would allow the Request to have a single `getUri()` method for anything URI-related.

@weierophinney While I understand what you and @evert are saying, and acknowledge what path other projects have chosen, I still stand on the fact that they are separate concerns.

This should be split into a `Request` object and another, such as a `Server` object.

The `Request` implementation will *internally* mix stuff coming from various superglobals (`$_SERVER`, `$_POST`, `$_FILES)` etc., but should *externally* expose the HTTP request contents. Not server-specific stuff associated with this request.

Dispite its name, it would be incorrect to say that the things in `$_SERVER` are server-specific. Furthermore, this stuff will actually exposed in a secondary interface (and not the base Request interface), specifically intended for users to get access to information from the CGI / SAPI environment.

@BenMorel These values will ONLY be in the `ServerRequest`, so, in a way, they're already in a server-specific object. ;-)

I'm also not just looking at other languages: if we canvas the PHP ecosystem, most request implementations for server-side applications encompass `$_SERVER` -- you can see it in Cake, ZF, Symfony, Laravel, CodeIgniter... the list goes on.

Considering that part of the mandate of FIG is to _codify what projects are already doing_, I see no compelling reason to omit `$_SERVER`, and all sorts of reasons to include it.

@evert They are, though: `DOCUMENT_ROOT`, `SERVER_SOFTWARE`, `SERVER_SIGNATURE`, ... mixed in with bits of the incoming request.

@weierophinney My main worry with `$_SERVER` from my 10+ years of PHP is its inconsistency from one configuration to another. I understand this is a global CGI issue, but the consequence is that you're always worrying what gives you the correct request target or query path depending on whether or not mod_rewrite is in use. You never know whether it's `SCRIPT_NAME` or `PHP_SELF` that you need. Some stuff even depends on whether you're using Windows or Linux.

That's why I would personally only ever include in the `ServerRequest` object the following information:

- The base Request information, that represents the HTTP request and *nothing more*
- The client information: IP address, remote port, ...

But that's just me of course. But at the very least, I would expect any implementation to do the dirty work of extracting the information out of `$_SERVER` for me, dealing with its potential inconsistencies, and provide a public API that gives me all the information I need about the incoming HTTP request and the remote client, without expecting me to find them in `$_SERVER` or elsewhere.

Now if you're adding a `getServer()` method, it won't prevent me from sleeping :)

@BenMorel `getServerParams()` is intended to return essentially `$_SERVER`.

The reasons it's included are in part to facilitate reconstruction of the original request state (e.g., if you change the query parameters, you could revert them via `parse_str($request->getServerParams()['QUERY_STRING'])`), but also to facilitate operations such as URL discovery (e.g., by having `$_SERVER` composed, the URI can be lazy-calculated only when requested).

Per your comment:

> provide a public API that gives me all the information I need about the incoming HTTP request and the remote client

In PHP, this information is provided by CGI and/or the underlying SAPI -- which pushes that information to the script via `$_SERVER`. The intent here is that the server-side request instance should have all of the information about the request -- the HTTP message and the CGI information -- so that the consumer has everything they need without needing to consult superglobals. The idea will be that `$_SERVER` is injected at instantiation; consumers will then no longer consult `$_SERVER`, but instead use the request object. 80% of the time or more, consumers will likely never need to consult the server params; most often, such inspections will be done by the framework or application layer, and they can instead focus on the HTTP message aspects and/or input sources (query string and body parameters, etc.). But having this information makes the job of framework authors simpler, as they _can_ get at that data when there is information that is pertinent to particular tasks.

Yeah, it bites that this is such a rabbit hole. :smile: 

There is already some prior art for a URI object in the FIG mail archives somewhere.  The reason I pushed for so long to have the URI be a "string or object" was for compatibility with that, should it ever come to pass, because I want to have one.  

I have a more philosophical question here, which I'm going to put on the list instead since I don't want to get into deep discussion in a GH thread where few will read it...

@weierophinney if you are sticking to the approach of *always* making getUri() return a relative uri, then I would suggest adding `getAbsoluteUri()` in addition to that, and not add `getBaseUri()`.

getAbsoluteUri() is based on an existing concept within HTTP, whereas I feel a 'base uri' is not really something that exists. This is largely a purity argument.

In addition, getAbsoluteUri() *could* still not be available. I think it's important to document what happens in that case (return null? make up a value?).



@evert Oh! That would solve it nicely! As far as I am concerned, `getAbsoluteUri()` should then only return as much information as we can calculate; it would be up to the consumer to determine if parts they need are missing.

@Crell - what do you think of this approach?

So as a ceveat getAbsoluteUri may still return a relative url. I can live with that :)

I would personally consider it flawed if `getAbsoluteUri()` could return a relative URI!
What's wrong with throwing an exception when something is missing?

@BenMorel The problem with throwing an exception is that it's an expected situation that we may not have all segments for a fully qualified URI. In the case of HTTP 1, we may not have a host or scheme available. In the case of proxies, some of this information may not be present. In the case of internal redirects, we may be missing one or more pieces.

Moreover, your application may be fine with not having some of the segments, but needs more than the path. In such a case, the application can raise an exception if it needs something that's not present.

@weierophinney It might be "expected", but if I ask for an absolute URI I expect to get an absolute URI. If I may sometimes only get a relative URI I now have to write some code to check if the response from "getAbsoluteUril" is indeed an absolute URI. In fact, I first have to be *aware* that I need to make this check...

I'm not saying an `Exception` is the right way to go here, but I am not sold on getAbsoluteUri returning a relative URI if an absolute URI cannot be created is the best approach here.

@simensen This is another argument for a URI object in my opinion; it could expose an `isAbsoluteUri()` method to test that.

Realistically, getAbsoluteUri could only ever emit the following three url formats:

1. `http://example.org/foo/bar/`
2. `/foo/bar`
3. `//example.org/foo/bar/`

If getAbsoluteUri returns `null` (or throws an exception, but I prefer `null`) when there's no absolute URI available, it means that users would not be able to get the third in that list.

The question is, how big of a deal is that? In the case of a client request, an absolute uri should always be available, but in the case of a server request, other parts of the uri are obtainable through other means. (If you want the host, ask for the Host header).

Since getAbsoluteUri is largely a 'convenience method' for the server case and usually accurate for the client case, I think it's fine to return null or throw an exception when a full absolute uri cannot be determined

FWIW, I'm personally comfortable with these two options:

- `getAbsoluteUri()` returning an `http(s)://...` string or throwing an exception if a single information is missing from `$_SERVER` to compute an **absolute** URI (it will not throw an exception in 99.9% of the real life uses cases)
- Unconditionally returning a URI object that has an `isAbsolute()` method as suggested by @weierophinney 

I've been mulling the URI object for a while today, and while I really like the idea, I also think it's going to open a can of worms. If we have an `isAbsolute()` method, then somebody will want an `isRelative()` method, and then somebody else will want an `isValid()` method, and somebody else will want methods for setting and getting the "base URL" (URL with optional path segment from which the application resolves), etc. My point is: it's a rabbit hole.

For simplicity, here's what I'm currently thinking:

- `getUrl()` will return the path + query string (essentially, what's available in `$_SERVER['REQUEST_URI']`
- `getAbsoluteUri()` will return null or an absolute URI
- `getUrl()` and `getAbsoluteUri()` MUST stay in sync. In other words, changing one changes the other.

For developers who want to get at the parts, we can recommend:

- `parse_url()` on the return value of `getAbsoluteUri()`.
- Passing the return value of `getAbsoluteUri()` to a URI library.

While I think this can have some performance and code quality impact (lots of object and code duplication), I also think it keeps the interface more focused, and stands a better chance of passing a vote.

My only question is: should `getAbsoluteUri()` be part of `RequestInterface` or `ServerRequestInterface`? @evert indicates it could be useful for the client-side as well.

Thoughts?

Strong :+1: on this approach.

HTTP clients basically *need* an absolute uri. Also didn't realize that this was a server-only thing.
Without the absolute url, it would not be possible for a client to say, make a https request.

I think a URI object is very useful, but I'd definitely keep it separate from the http spec. A URI object can easily be constructed based from a string. There's no data-loss.