[PSR-7] Inconsistent implementations of UriInterface

## Summary:
Handling of RFC 3986 URIs is inconsistent across differing implemntations of this PSR.
There needs to be better documentation about how to avoid creating non RFC conforming URIs, and parsing non RFC 7320 (HTTP:) schemes, that are still RFC 3986 compliant, even if parsing a URI is not part of the spec, it seems to be common practise to pass in a string to the constructor.  Conforming implementations should be expected to be able to round-trip a normalized URI, or at least be able to clarify issues about which subset of Valid URIs should be able to be handled.  And that empty query and empty fragments while explictly defined as different from NULL query and NULL fragments in the RFC, are considered the same in the PSR. 

There should also be a notice that due to the wording of the PSR, that URIs considered unique after normalization that rely on the presence or absence of a delimiter as defined by RFC 3986 is not possbile.


In addition if one is to rely on `parse_url()` as in the case of Zend-Diactoros, then all URIs with an empty authority are rejected and the function returns false.  PHP parse_url() will let you do a NULL authority  : "http:relative/path" or "http:/absolute/path" but not an EMPTY authority "http:///absolute/path".  Which is allowed in RFC 3986.

In that particular implementation, this can be achived by the erroneous handling of the _toString() method by treating the scheme as  (scheme "://") ( authority ) rather than  (scheme ":" ) ( "//" authority )
```php 
$uri->withHost("")
```

As people won't be reading the RFC in their implementations, these caveats should be readily documented, and more easily accessible than the ABNF and Commentary on RFC 3986 Normalization. 
And it should be noted that URIs defined as non-equivalent that rely on the presence or absence of a prefix marker as per the RFC, cannot be represented with this PSR.
In particular, 
> "http://example.com/?" cannot be assumed to be equivalent to any of the examples above (http://example.com/).  [...]   
> The fragment component is not subject to any scheme-based normalization; thus, two URIs that differ only by the suffix "#" are considered different regardless of the scheme.

URIs with an empty query "/path?" or an empty fragment "/path#" cannot be represented, as the PSR explictly disallows the distinction between NULL and "" by stating :

> An empty query string value is equivalent to removing the query string.
> An empty fragment string value is equivalent to removing the fragment string.


It is my suggestion that the set of valid, supportable URLs transformations be explictly defined, particularly in reference with missing authority (both generation, and parsing) as it appears that in particular, the RFC 3986 valid URI "http:///some/path" causes issues if the implementation relies on parse_url();  
And to explicitly define a fallback to generate a valid URI (as __toString cannot throw exceptions) in the case where the initial path segment contains a colon (":"), and there is a null scheme and null authority.  (some:uncommon/path) is an invalid URI; but should presumably be arbitrarily fixed to "http:some:uncommon/path" (which is at least parseable by parse_url() )

And by providing a summary chart of the various states that can be manipulated, it will ensure that conformant clients that provide a fromString() or constructor creation of the URI will be able to test for round-trip compatibility.

## Commentary

This started off as a comment to a zend-diactoros issue with mutating the authority, and throwing an exception on a valid RFC 3986 URI (although not valid to the HTTP RFC 7320).   
  
As I was writing, it turns out that the PSR definition of a URI is fundamentally incompatible with interop and HTTP calls to lots of our legacy systems, being unable to form the end-points that are considered by RFC 3986 to be unique after normalization. 

I also feel that it is a bug to convert "http:/path" and "http:path" to "http:///path" as several implementations do, as the three after normalization are technically unique, as the NULL authority is not the same as the EMPTY authority.  
With the primary purpose of the Uri Interface being HTTP, this can be overlooked, as the http scheme requires a non-empty host; although RFC-3986 conformity does not.  And the text of the PSR only re-iterates the RFC on "when included, the authority must be prefixed by "//" " and leaves unsaid the non-inclusion of the authority (NULL authority as in "http:/path") or the empty authority "http:///path".  It appears different implementations are treating these differently.

 
As __toString() cannot throw exceptions, where being strict to the HTTP: scheme RFC is not feasible, handling and generating RFC 3986 URIs should take priority.  ( "http:///path" is invalid according to 7320, but valid to 3986.  The PSR explictly states  

For our in-house implementation of PSR-7, we had to make sure we handle RFC 3986 (Generic URI) more so, than RFC 7230 (HTTP/HTTPS Scheme Definition.)

Specifically, our requirement is round-trip consistency; and being able to differentiate between empty, and undefined URI components.  Which are considered distinct in the RFC.  As PSR-7 explicitly references RFC 3986 compatibility in the `UriInterface`, 

So, our implementation of PSR-7 is inconsistent with the Zend-Diactoros implementation, of PSR-7 `UriInterface`. Only because these cases were not explictly defined in the PSR, but they are in the RFC.  Although they should be implemented to the RFC, most will use "common sense" in its stead.  In this library, the handling of the RFC significant difference between NULL and "" segments is lost.  

I realised while tying this, is that we can't interface with several of our legacy Java servers using the PSR to the letter, because of the line: `"An empty query string value is equivalent to removing the query string."` ;  the Java Applications in our NE progamming centres will differentiate between  "path?" (empty query)  and "path" (null query), as distinct as per the RFC section on normalization 
> "the URI "http://example.com/?" cannot be assumed to be equivalent to any of the examples above (http://example.com/).  [...]   
> The fragment component is not subject to any scheme-based normalization; thus, two URIs that differ only by the suffix "#" are considered different regardless of the scheme. )


The main non-common use-cases we use are:
```
altscheme:non/rooted/path
altscheme:/rooted/path
http:non/rooted/path
http:/rooted/path
http:///rooted/path
```
We actively make use of all sorts of valid URIs that can be generated internally across the hundreds of legacy systems, that were acquired over the past 25 years. 


Where we treat these cases in the Http Client / User-Agents as
 * `"http:/rooted/path"` is treated as a scheme change to http: on the same authority (authority is undefined, is NULL), with absolute path /rooted/path.  
 * `"http:///rootetd/path"` is treated as a scheme change to http: using the default authority (as the authority is explicitly set to "")
 * `"http:non/rooted"` is treated as a scheme change to http: on the same authority, path resolved relative to the current path  (IE 6-7 handled this back in the day, no-longer though)

This behaviour requires a clear handling and distinction of undefined authority (NULL), and empty authority ("").  Which is defined in RFC 3986 as being distinct; but both are defined in RFC 7230 as invalid when applied specifically to the HTTP scheme, as it requires a non-empty authority-host.  

As the PSR explictly states that it is conforming to RFC-2986, to me it would seem that a conforming PSR-7 Implementation should guarantee generating a valid 3986-URI; even though it's a valid HTTP: RFC-7230 URI (` A sender MUST NOT generate an "http" URI with an empty host identifier. `)

Given that the Authority must be prefixed by "//" it should be clear when parsing whether the authority segment is empty ("") or undefined.

In Regards to the generic URI syntax, the following abbreviated table comes to mind for parsing/rendering URIs

Scheme | Authority | Path | Resultant Uri
-----|-----|-----|----
http | NULL | non/root/path | `"http:non/root/path"`
http | "" | non/root/path | INVALID, authority + absolute path only defined.  PSR-7 self-corrects by prepending a "/" to the path yielding `"http:///non/root/path"`
http | NULL | /root/path | `"http:/root/path"`
http | "" | /rooted/path | `"http:///rooted/path"`
http | NULL | //absolute/double/slash | INVALID, leading // disallowed in path when authority is undefined;  PSR-7 toString() reduces leading "///" to yield `"http:/absolute/double/slash"`
http | "" | // absolute/double/slash | `"http:////absolute/double/slash"`
http | authority | //absolute/double/slash | `"http://authority//absolute/double/slash"`
http | NULL | annoying:sub/path | `"http:annoying:sub/path"`
NULL | NULL | annoying:sub/path | INVALID, leading segment cannot contain ":" when scheme and authority are absent.   **PSR-7 does not address**; but as PSR-7 is primarily dealing with HTTP; perhaps an auto-correct of "prepend http scheme" in _toString to "http:annoying:sub/path"
NULL | authority | NULL | `"//authority"`
NULL | authority | /rooted/path | `"//authority/rooted/path"`

It would be nice if the PSR would explicitly enumerate a standard RFC-3986 handling of the input (which differentiates between empty and undefined hierarchical elements;
 
Although I think I may be in the minority of people who actively use 3986 URIs in a variety of contexts daily, which countless legacy systems all relying on strict adherence to the original RFCs; and the differentiation between NULL and "" segments :\    

The RFC examples and context does differentiate between NULL and empty for all prefixed segments;  (empty is not allowed for scheme; empty and null are identical for path)

But, a Good implementation that serves common cases would be to default Authority to ""; Query, Fragment to NULL;  But will parse and retain the semantics for both NULL and "" scenarios.   
In this manner, PSR-7 URIs in use can be used consistently across all clients, rather than having different PSR-7 implementations yield different results for the same constituent components.  



The other components that can be nullable with a concrete reflex, are Query and Fragment.  This is most dramatic in the case with an empty path segment.  Although, the PSR was passed explictly rejecting this case.

http://authority -- Null or Empty path, (empty path is equivalent to "/" in HTTP schemes only, but not generically).  

The following cases, while unique in the RFC and considered unique after normalization, 3 of which are explictly excluded from being formable due to wording of the PSR.

PATH | QUERY | FRAGMENT | Result
----|----|----|----
NULL | NULL | NULL | http://authority 
NULL | NULL | "" | http://authority#
NULL | "" | NULL | http://authority?
NULL | "" | "" | http://authority?#

Both RFC 3986 and 7230 allow an empty path segment between authority and query/fragment.  
Normalization treats Query or Fragment segmets with NULL and Empty as distinct URIs.

As as aside, we do have some legacy Java servers that still require uniquely handling NULL and Empty query parameters.  
Thus, `"http://programdc/serial/id?"` and `"http://programdc/serial/id"` are distinct endpoints;  I don't expect any modern only development to handle this by default, although in our implementation, it's differentiatable by ->withQuery(NULL) and withQuery("")




@icywolfy As I noted on zendframework/zend-diactoros#65, in discussion with @nyamsprod, many of the issues you're having are edge cases of the given RFCs; as such, I'm not terribly surprised they were not brought up during the PSR-7 discussion phase.

I've previously mentioned to @nyamsprod that if the issues are severe enough, [errata](https://github.com/php-fig/fig-standards/blob/master/bylaws/004-psr-workflow.md#36-errata) to PSR-7 may be in order.

I think you've summarized the issues fantastically, but now we need a recommendation: i.e., how exactly should PSR-7-compatible implementations *behave* for each of the conditions you've noted as being problematic? In other words, how can we *clarify* to implementors expected behavior?

We can then use the above information in the errata to justify the clarifications being made.

If you could prepare that information, we can then start discussing an errata vote. As editor, I'm willing to champion/push for the clarification and vote, and will work with my sponsors to do so.

Sound reasonable?

Please continue this discussion on the mailing list.