Should UriInterface::withPath percent-encode slashes?

The [documentation for `UriInterface::withPath`](https://github.com/php-fig/http-message/blob/ac2460e2eaba78395423bfceeb09736b1efa34fc/src/UriInterface.php#L208-L210) says:

> The implementation MUST percent-encode reserved characters as
> specified in RFC 3986, Section 2, but MUST NOT double-encode any
> characters.

[RFC 3986](https://www.ietf.org/rfc/rfc3986.txt) says the reserved characters are:

> reserved    = gen-delims / sub-delims  
> gen-delims  = ":" / "/" / "?" / "#" / "[" / "]" / "@"
> sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
> / "*" / "+" / "," / ";" / "="

i.e., it includes `/`.  Does that mean `withPath` should percent-encode `/`? Or should it percent-encode those (and only those) characters *with the exception of* `/`?

---

Just noticed [Tobion's comment](https://github.com/php-fig/fig-standards/pull/449#issuecomment-77266583) but it wasn't addressed.

It should encode `/` if it is a part of parameter but should not if it's separating path itself i.e. `http://example.com/test/it&path=a%2Fb%2Fc`.

@samdark How is `withPath` supposed to understand your intention?

I have no idea, just explained what's meant in RFC.

Thinking about it a bit more I guess it can be determined by presence of `&` i.e. before `&` it's path where `/` should be left as is, after `&` it's parameters which should have `/` encoded.

@samdark The entire string *is* the path. The method name is `withPath` and it accepts a path as its only argument.

Right. Then there's basically no way to tell where it's meant to be encoded and where not.

Indeed. So what does FIG have to say about this?

Perhaps the method should instead take an array as the argument, wherein each element represents a path segment?

I don't think you'd want the method to encode a slash itself. Where this might come up is if you had an endpoint like `/characters/{name}` and you wanted `{name}` to extract "homer/marge", you'd need to use the URI `/characters/homer%2Fmarge`. In cases like this, I think the user will just have to pre-encode that portion. 

Right but current PSR says otherwise.

I've answered more fully on-list, but here's the summary: RFC 3986 states that slashes are data characters in the path (in section 3), and thus do not need to be encoded (in section 2).

https://groups.google.com/forum/#!topic/php-fig/mTg_yVbGmEo

It is still not clear to me what `withPath` should do.

We've established that `/` is a valid "data character" within the path, but it can be interpreted in one of two different ways:

1. As a path segment separator
2. As a literal `/` within a path segment

depending on whether or not we percent-escape it.

It sounds to me like @weierophinney is saying that `withPath` *MUST NOT* escape any `/` characters. If the caller wishes to use a `/` as a literal instead of a path segment separator he MUST escape it himself before calling the function. Is this correct?

Exactly. The one who passes the path into the method has to decide if it's encoded (literal data) or not (reserved character meaning). So the current text in UriInterface is wrong.
I already proposed how to rephrase it: https://github.com/php-fig/fig-standards/pull/449#discussion_r25821168

What RFC 3986 indicate is that / is a valid data character. When you speak of it as separating path segments, you're talking about how the web server or the application uses the character for purposes of routing and/or identifying the resource requested - but that definition is completely separate from the definition of path with regards to the RFC. The reason to escape a slash addresses that issue - the desire for a slash character that will not be interpreted by the target for those purposes.

So yes: I'm saying that `withPath()` should not encode a slash normally, because it is an allowed data character. Because the character is explicitly allowed by the spec, the only way that such a method could know when to encode the character is if it is passed to the method encoded in the first place. This latter is also why we have the language about preventing double encoding. 

Can we finally agree that the text must be rephrased. Simply from the fact that everybody asked shows that it's either unclear or wrong or both.

@Tobion No clarification is necessary, since the RFC indicates that the decision to encode is based on whether or not a character is allowed as data in the uri segment (path, in this case), and that encoded values are always showed as data. As such, you don't encode slashes if passed, and encode them if you need to for data purposes.

What do these examples return? Just to check if we are on the same page of how it should be.

```
$request->withPath('/foo%2Fbar/')->getPath();
$request->withPath('/foo€bar/')->getPath();
$request->withPath('/foo@bar/')->getPath();
$request->withPath('/foo%40bar/')->getPath();
```

@weierophinney 

> When you speak of it as separating path segments, you're talking about how the web server or the application uses the character for purposes of routing and/or identifying the resource requested - but that definition is completely separate from the definition of path with regards to the RFC. 

On the contrary, the RFC specifically says:

> A path consists of a sequence of path segments separated by a slash ("/") character

Section 5.2.4 even goes on to describe how we can remove `.` and `..` from the path, so I'm fairly positive this RFC was written with a file system in mind.

I agree that the web server is free to determine how `/`s are interpreted, but the RFC does mention "path segments" and this is clearly a source of confusion. Not everyone will have time to read and decipher the RFC; I think adding one or two sentences to the doc comment as @Tobion suggests would be quite helpful.

In particular, it's highly misleading when the doc comment says "The implementation MUST percent-encode reserved characters", the RFC lists out the reserved characters, but we're actually *not* supposed to percent-encode those characters.

> What do these examples return?

- Path /foo%2Fbar/: /foo%2Fbar/
- Path /foo€bar/: /foo%E2%82%ACbar/
- Path /foo@bar/: /foo@bar/
- Path /foo%40bar/: /foo%40bar/

In other words: where an escape sequence already exists, or data valid for a path segment exists, no transformation happens (examples 1, 3, and 4); in the case of data not valid for a path segment, escaping occurs.

> In addition to @Tobion 's examples, I would like to know what this should return:
> 
> $request->withPath('%2Ffoo')->getPath();

As noted above: `%2Ffoo` would be returned, as there is an escape sequence.

This is all consistent with the guidelines in RFC 3986 Section 2.

@weierophinney perfect, that's also how I see it should be. :)

But the documentation is really not according to that. Quite obviously it says "implementation MUST percent-encode reserved characters". And one reserved character is `"/"`. But the implementation doesn
t encode it. If a user wants to use the char without its special meaning, then he has to call `withPath` already with the encoding values. So the implementation doesn't change the encoding as we agreed. So the text in the interface is plain wrong.

Also as I said earlier, `withPath` should not mention encoding at all in the phpdoc. All that matters is what `getPath` returns, i.e. it returns the percent-encoded path according to RFC 3986. Everything else doesn't matter.

@pmjones and/or @simensen — Please close, as #481 addressed this.